* { 
  box-sizing:border-box;
  color: white;
  font-family: sans-serif;
}

body {                    /*body*/
  background-image: url("abstract-1278044_1920.jpg");
  background-size: cover;
  margin: 20px;
}

body > * > * {            /*Inhalte in Kopf und Fuß & Navigation und Inhalt*/
  margin: 10px;
}

body > * {                /*Kopf, Mittelteil, Fuß*/
  margin: 10px;
}

header {                  /*Kopfzeile*/
  display: flex;
  align-items: center;
  background: rgb(74, 112, 139);
  background: rgba(74, 112, 139, 0.5);
  border-radius: 5px;
}

.Mittelteil {           /*Mittelteil*/
  display: flex;
  flex-wrap: wrap;
}

.Mittelteil > * {       /*Inhalt im Mittelteil (Navigation und Inhalt)*/
  background: rgb(74, 112, 139);
  background: rgba(74, 112, 139, 0.5);
  border-radius: 5px;
}

nav {                 /*Navigationsbereich*/
  flex: 1 1 10%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

nav > * {           /*Inhalt im Navigationsbereich*/
  margin: 10px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.Inhalt {           /*Inhaltsbereich*/
  min-width: 200px;
  flex: 1 1 71%;
}

.Inhalt > * {       /*Inhalt im Inhaltsbereich*/
  margin: 15px;
}

footer {            /*Fußzeile*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(74, 112, 139);
  background: rgba(74, 112, 139, 0.5);
  border-radius: 5px;
}
