* { 
  box-sizing:border-box;
  color: white;
  font-family: sans-serif;
}

body {
  background-image: url("abstract-1278044_1920.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.divblock {
  text-align: center;
  background: rgb(69,69,69);
  background: rgba(69, 69, 69, 0.5);
  border-radius: 15px;
}

label {
	float: left;
	width: 30%;
}

input {
  color: black;
}

.Eingabe {
  float: left;
	width: 50%;
}

.divblock * {
  margin: 10px 15px;
}
