* {
  box-sizing:border-box;
  color: white;
  font-family: sans-serif;
}

body {
  background-image: url("abstract-1278044_1920.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

form {
  text-align: center;
  padding: 10px;
  background: rgb(0, 133, 163);
  background: rgba(0, 133, 163, 0.5);
  border-radius: 15px;
}

label {
	float: left;
	width: 30%;
}

input, button {
  color: black;
}

input {
  float: left;
	width: 50%;
}

form * {
  margin: 10px 15px;
}
